.container
  padding: 0 15px
  margin: 0

button
  width: 60px
  height: 60px
  margin: 7px
  color: black
  font-size: 28px
  font-weight: bold

mat-card
  padding: 5px
  width: 320px
  height: 450px
  border: 1px solid black


mat-card-header
  padding: 20px 10px
  background: transparent
  display: block

p
  padding: 10px
  font-size: 18px
  background-color: #7f7917
  display: block
  margin: 0
  height: 20px

mat-card-content
  display: flex

.number-button-container
  width: 70%
  display: flex
  flex-wrap: wrap
  align-items: center

.symbol-button-container
  width: 30%
  display: flex
  flex-direction: column
  align-items: center




