<div class="container">
  <div class="calculator">
    <mat-card>
      <mat-card-header>
        <p class="display">{{ calc | async }}</p>
      </mat-card-header>
      <mat-card-content>
          <div class="number-button-container">
            <button *ngFor="let number of numbers" mat-fab color="accent" (click)="setOfNumbers(number)">
              {{ number }}
            </button>
          </div>
          <div class="symbol-button-container">
            <button *ngFor="let symbol of symbols" mat-fab color="warn" (click)="setOfSing(symbol)">
              {{ symbol }}
            </button>
          </div>
    </mat-card-content>
      <mat-card-footer>
      </mat-card-footer>
      </mat-card>
  </div>
</div>
